<footer class="primary-footer">
    <p class="footer-text">
      Made with passion and a love for sharing knowledge.
    </p>
    <p class="copyrights">© 2024 D-Brodowski, All rights reserved</p>
  </footer>
</body>
</html>
