/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* ================== ABOVE CSS RESET =================== */

html {
  font-family: 'Poppins', sans-serif;
}

.heading-primary {
  margin: 2rem 0 3rem 0;
}

.primary-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    41deg,
    rgba(2, 0, 36, 1) 38%,
    rgba(82, 187, 112, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: aquamarine;
}

.primary-nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav-link {
  color: #121212;
  font-weight: 500;
  text-decoration: none;
}

/* ================ MAIN =================== */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e5f7e8;
}

.container {
  max-width: 75rem;
  margin-inline: auto;
  flex: 1;
}

.add-new-post {
  font-size: 2rem;

  text-align: center;
  margin-bottom: 1rem;
}

.btn-add {
  padding: 0;
  font-weight: 600;
  border: none;
  background-image: linear-gradient(to right, #4caf50, #8bc34a);
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-add:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.btn-add:focus {
  outline: none;
}

/* ================ FOOTER =================== */
.primary-footer {
  text-align: center;
  padding: 1rem;
  color: antiquewhite;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    41deg,
    rgba(2, 0, 36, 1) 38%,
    rgba(82, 187, 112, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* ================ POST =================== */

.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #afafaf;
}

.post-footer {
  display: flex;
  justify-content: space-between;
}

.post-form {
  display: flex;
  flex-direction: column;
}

.btn-link {
  text-decoration: none;
  color: #121212;
  display: inline-block;
  padding: 0.5rem 1rem;
}
